<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1>#ftt2018</h1> </a>
        <p>From the trenches 2018</p>

        <p class="view"><a href="/horario.html">Horario</a></p>
        <p class="view"><a href="/asistentes/asistentes.html">Asistentes</a></p>
        <p class="view"><a target="_blank" href="https://github.com/luisartola/ftt2018">editar web</a></p>

        Grupos:
        <p class="view"><a href="/asistentes-grupos/grupo1.html"> 1</a>
        <a href="/asistentes-grupos/grupo2.html"> 2</a>
        <a href="/asistentes-grupos/grupo3.html"> 3</a>
        <a href="/asistentes-grupos/grupo4.html"> 4</a>
        <a href="/asistentes-grupos/grupo5.html"> 5</a>
        <a href="/asistentes-grupos/grupo6.html"> 6</a>
        <a href="/asistentes-grupos/grupo7.html"> 7</a>
        <a href="/asistentes-grupos/grupo8.html"> 8</a>
        <a href="/asistentes-grupos/grupo9.html"> 9</a>
        <a href="/asistentes-grupos/grupo10.html"> 10</a>
        </p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p></p>
        <p><small>Project by <a target="_blank" href="http://programania.net">Programania</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>