<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1>#ftt2018</h1> </a>
        <p>From the trenches 2018</p>

        <p class="view"><a href="/horario.html">Horario</a></p>
        <p class="view"><a href="/asistentes/asistentes.html">Asistentes</a></p>
        <p class="view"><a href="/experiencias/experiencias.html">Experiencias</a></p>
        <p class="view"><a href="/asistentes-grupos/grupos.html">Grupos</a></p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>Proyecto Programania</p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>